fastapi==0.135.1
uvicorn==0.41.0
aiofiles==25.1.0
httpx==0.28.1

SQLAlchemy==2.0.47
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic-settings==2.13.1

langchain==1.2.10
langchain-community==0.4.1
langchain-google-genai==4.2.1
langchain-core==1.2.16
langchain-text-splitters==1.1.1
google-generativeai==0.8.6

faiss-cpu==1.13.2
pypdf==6.7.5
pandas==2.3.3
beautifulsoup4==4.14.3


python-dotenv==1.2.2
